#stock_deliveryslip_informations {
    padding-top: 20px;
}

#header_table {
    margin-top: 30px;
}

#stock_picking_informations > div.col-auto.mw-100.mb-2 {
    display: inline-block !important;
    max-width: 24% !important;
    min-width: 200px !important;
}

#stock_deliveryslip_informations > div.col-auto {
    display: inline-block !important;
    max-width: 24% !important;
    min-width: 200px !important;
}
