#stock_deliveryslip_informations {
    padding-top: 20px;
}
#stock_picking_informations > div.col-auto {
    //     display: inline-block;
    min-width: 24%;
    //     vertical-align: text-top;
}

#stock_deliveryslip_informations > div.col-auto {
    //     display: inline-block;
    min-width: 24%;
    //     vertical-align: text-top;
}
