<?xml version="1.0"?>
<odoo>
    <record model="ir.actions.act_window" id="action_country_groups_view">
        <field name="name">Country Groups</field>
        <field name="res_model">res.country.group</field>
        <field name="view_mode">tree,form</field>
    </record>
    <menuitem id="menu_country_groups"
        parent="stock.menu_stock_config_settings"
        name="Country Groups"
        sequence="10"
        action="action_country_groups_view"/>
</odoo>
